@model Projeto.Models.usuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container" style="padding: 0 3rem;">
        <div class="row mt-5">
            <h4>Cadastrar Usuário</h4>
            <hr />

            <div class="form-group row mt-3">
                <div class="col-md-6">
                    <label class="form-label">Nome</label>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", required = "required" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Email</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    <label class="form-label">CPF/CNPJ</label>
                    @Html.TextBoxFor(model => model.CpfCnpj, new { @class = "form-control cpf-cnpj-mask", required = "required", @placeholder = "___.___.___-__" })
                </div>
                <div class="col-md-4">
                    <label class="form-label">Data de Nascimento</label>
                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control date" })
                </div>
            </div>

            <h4 class="mt-3">Endereço</h4>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    <label class="form-label">Cep</label>
                    @Html.TextBoxFor(model => model.Cep, new { @class = "form-control cep-mask", required = "required" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Cidade</label>
                    @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Estado</label>
                    @Html.TextBoxFor(model => model.Estado, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Rua</label>
                    @Html.TextBoxFor(model => model.Rua, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Bairro</label>
                    @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    <label class="form-label">Número</label>
                    @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                </div>
            </div>

            <h4 class="mt-3">Contatos</h4>
            <div class="form-group row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Telefone</label>
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Celular</label>
                    @Html.TextBoxFor(model => model.Celular, new { @class = "form-control cel-mask", required = "required" })
                </div>
            </div>

            <h4 class="mt-3">Acesso</h4>
            <div class="form-group row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Login</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control", required = "required" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Senha</label>
                    @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", type = "password" required = "required" })
                </div>
            </div>

            <h4 class="mt-3">Tipo de acesso</h4>
            <div class="form-group row mt-2 text-center">
                <div class="col-md-12">
                    <label class="form-label">Locador</label>
                    @Html.RadioButtonFor(model => model.TipoUsuario, "Locador", new { @style = "margin-right:15px;" })
                    <label class="form-label">Locatário</label>
                    @Html.RadioButtonFor(model => model.TipoUsuario, "Locatario")
                </div>
            </div>

            <div class="form-group row text-center mt-5">
                <div class="col-md-offset-2 col-md-12">
                    <button type="submit" class="btn btn-primary btn-block salvar">Salvar</button>
                    <button onclick="history.back()" class="btn btn-secondary btn-block">Voltar</button>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts{

    <script src="~/Content/js/jquery.mask.js"></script>
    <script>

        $(document).ready(function () {
            formatInputs()
        });


        function formatInputs() {
            $(".cnpj-mask").mask("00.000.000/0000-00");
            $(".cep-mask").mask('00000-000');
            $(".cel-mask").mask('(00)00000-0000');
            $(".date").mask("00/00/0000");

            var maskCpfCnpj = function (val) {
                return val.replace(/\D/g, '').length < 12 ? '000.000.000-009' : '00.000.000/0000-00';
            },
                optionsCpfCnpj = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(maskCpfCnpj.apply({}, arguments), options);
                    }
                };
            $('.cpf-cnpj-mask').mask(maskCpfCnpj, optionsCpfCnpj);

        }

    </script>

}
