@model Projeto.Models.imovel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container" style="padding: 0 3rem;">
        <div class="row mt-5">
            <h4>Cadastrar Imóvel</h4>
            <hr />

            <div class="form-group row mt-2">
                <div class="col-md-8">
                    <label class="form-label">Breve Descrição</label>
                    @Html.TextBoxFor(model => model.BreveDescricao, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <label class="form-label" style="display: block">Valor da Diária</label>
                    @Html.TextBoxFor(model => model.ValorDiaria, new { @class = "form-control" })
                </div>
            </div>
            <h4 class="mt-3">Endereço</h4>

            <div class="form-group row mt-2">
                <div class="col-md-4">
                    <label class="form-label">CEP</label>
                    @Html.TextBoxFor(model => model.Cep, new { @class = "form-control cep-mask", required = "required" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Cidade</label>
                    @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Estado</label>
                    @Html.TextBoxFor(model => model.Estado, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Rua</label>
                    @Html.TextBoxFor(model => model.Rua, new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label class="form-label">Bairro</label>
                    @Html.TextBoxFor(model => model.Bairro, new { @class = "form-control" })
                </div>

                <div class="col-md-2">
                    <label class="form-label">Número</label>
                    @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row mt-2">
                <div class="col-md-3">
                    <label class="form-label">Tipo Imovel</label>
                    @Html.TextBoxFor(model => model.TipoImovel, new { @class = "form-control", @placeholder="Casa, Apartamento, Comércio..." })
                </div>
                <div class="col-md-3">
                    <label class="form-label">Tamanho</label>
                    @Html.TextBoxFor(model => model.Tamanho, new { @class = "form-control", @placeholder="m²" })
                </div>
                <div class="col-md-3">
                    <label class="form-label">Número de Quartos</label>
                    @Html.TextBoxFor(model => model.QtdQuartos, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <label class="form-label">Número de Banheiros</label>
                    @Html.TextBoxFor(model => model.QtdBanheiros, new { @class = "form-control" })
                </div>
            </div>


        </div>
        <h4 class="mt-3">   Informações do Imóvel</h4>

        <div class="form-group row mt-2">
            <div class="mt-3">
                <label class="form-label" style="display:block">Descrição do Imóvel</label>
                @Html.TextAreaFor(model => model.Descricao, new {  @class = "form-control", @placeholder="Escreva aqui tudo que você gostaria que soubessem a respeito do imóvel." })

            </div>
        </div>
    </div>
    <div class="form-group row text-center mt-5">
        <div class="col-md-offset-2 col-md-12">
            <button type="submit" class="btn btn-primary btn-block salvar">Salvar</button>
            <button onclick="history.back()" class="btn btn-secondary btn-block">Voltar</button>
        </div>
    </div>
}
@section Scripts{

    <script src="~/Content/js/jquery.mask.js"></script>
    <script>

        $(document).ready(function () {
            formatInputs()
        });


        function formatInputs() {
            $(".cnpj-mask").mask("00.000.000/0000-00");
            $(".cep-mask").mask('00000-000');
            $(".cel-mask").mask('(00)00000-0000');
            $(".date").mask("00/00/0000");

            var maskCpfCnpj = function (val) {
                return val.replace(/\D/g, '').length < 12 ? '000.000.000-009' : '00.000.000/0000-00';
            },
                optionsCpfCnpj = {
                    onKeyPress: function (val, e, field, options) {
                        field.mask(maskCpfCnpj.apply({}, arguments), options);
                    }
                };
            $('.cpf-cnpj-mask').mask(maskCpfCnpj, optionsCpfCnpj);

        }

    </script>
}
