@model Projeto.Models.imovel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100"  src="~/Content/img/property-1.jpg" />
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4"> @Html.DisplayFor(model => model.BreveDescricao)</h1>
                <p class="mb-4">@Html.DisplayFor(model => model.Descricao)</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Html.DisplayFor(model => model.Tamanho) m²</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Html.DisplayFor(model => model.QtdQuartos) quartos</p>
                <p><i class="fa fa-check text-primary me-3"></i>@Html.DisplayFor(model => model.QtdBanheiros) banheiros</p>
                <p class="mb-4">Localizada em @Html.DisplayFor(model => model.Cidade) - @Html.DisplayFor(model => model.Estado)</p>
                <p class="mb-4">Rua @Html.DisplayFor(model => model.Rua) - @Html.DisplayFor(model => model.Numero), @Html.DisplayFor(model => model.Bairro) </p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="">Reservar</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
