@model IEnumerable<Projeto.Models.imovel>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="p-5">
        <h2>Imóveis</h2>

        <p>
            @Html.ActionLink("Novo Imóvel", "Create")
        </p>
    </div>
    <table class="table">
        <tr>
            <th>
                Descricao
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Valor Diária
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BreveDescricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @item.ValorDiaria.ToString("C")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>