@using System.Data
@model List<Projeto.Models.imovel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4 mt-5">Encontre <span class="text-primary">o Imóvel perfeito</span> para você e sua família</h1>
            <p class="animated fadeIn mb-4 pb-2">
                Precisa alugar ou reservar um imóvel?<br>Podemos te ajudar!
            </p>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/Content/img/carousel-1.jpg" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="~/Content/img/carousel-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Tipos de propriedades</h1>
            <p>Encontre apartamentos, casas, quartos, escolhendo desde a localização, tipos, até detalhes, e escolha o seu melhor imóvel. </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="#">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/Content/img/icon-apartment.png" alt="Icon">
                        </div>
                        <h6>Apartamentos</h6>
                        <span>65 Propriedades</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="#">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/Content/img/icon-villa.png" alt="Icon">
                        </div>
                        <h6>Bairros</h6>
                        <span>87 Propriedades</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="#">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/Content/img/icon-house.png" alt="Icon">
                        </div>
                        <h6>Casas</h6>
                        <span>254 Propriedades</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="#">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="~/Content/img/icon-housing.png" alt="Icon">
                        </div>
                        <h6>Escritórios</h6>
                        <span>11 Propriedades</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/Content/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Encontre a Propriedade Perfeita</h1>
                <p class="mb-4">Fazemos a combinação perfeita de preço, localização e comodidades. Todas as informações dos imóveis anunciados são conferidas previamente para você. </p>
                <p><i class="fa fa-check text-primary me-3"></i>Os melhores imóveis</p>
                <p><i class="fa fa-check text-primary me-3"></i>Melhores condições</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Property List Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-12">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Lista de propriedades</h1>
                    <p>Aqui você encontrará várias opções de escolha de imóveis em diversas cidades do país</p>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="@Url.Action("Details", "imovels", new { id = Model[i].Id })"><img class="img-fluid" src="~/Content/img/property-1.jpg" alt=""></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Alugar</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@Model[i].TipoImovel</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">@Model[i].ValorDiaria.ToString("C") - diária</h5>
                                    <a class="d-block h5 mb-2" href="">@Model[i].BreveDescricao</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model[i].Cidade - @Model[i].Estado</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>@Model[i].Tamanho m²</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@Model[i].QtdQuartos quartos</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>@Model[i].QtdBanheiros banheiros</small>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5 mt-5" href="@Url.Action("List", "imovels")">Procurar mais imóveis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">O que os clientes dizem:</h1>
            <p>Veja o que nossos clientes disseram após contratarem nossos serviços</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>Passei uma temporada em um dos imóveis da Imobiliária Makaan e me surpreendi bastante, positivamente. Fui muito bem atendida, desde o primeiro contato até o último dia de estadia.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/Content/img/testimonial-1.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Maria Clara</h6>
                            <small>Empresária</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>O serviço da imobiliária é nota 10. O imóvel que aluguei para o final de semana com meus amigos, estava impecável. Recomendo e voltarei a contratar os serviços mais vezes.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/Content/img/testimonial-2.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Miguel Silvestre</h6>
                            <small>Análista de Sistemas</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-light rounded p-3">
                <div class="bg-white border rounded p-4">
                    <p>O atendimento foi rápido e de qualidade. Estava desesperado procurando um lugar para ficar o fim de semana a trabalho e os consultores acharam um apartamento bem localizado e, o melhor, com custo da diária que cabia no bolso.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="~/Content/img/testimonial-3.jpg" style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">Francisco Oliveira</h6>
                            <small>Gerente bancário</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
